@using Dominio
@model List<Miembro>

@if (!String.IsNullOrEmpty(ViewBag.MensajeError))
{
    <div class="alert alert-danger">
        @ViewBag.MensajeError
    </div>
}

<div class="container mt-4">
    <h2>Solicitudes de Amistad</h2>

    <div class="row justify-content-center">

        @foreach (Miembro pendiente in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@pendiente.Nombre @pendiente.Apellido</h5>
                        <form asp-controller="FriendRequest" asp-action="Aceptar" method="post">
                            <input type="hidden" name="pendienteId" value="@pendiente.Id" />
                            <button type="submit" class="btn btn-primary">Aceptar</button>
                        </form>
                        <form asp-controller="FriendRequest" asp-action="Rechazar" method="post">
                            <input type="hidden" name="pendienteId" value="@pendiente.Id" />
                            <button type="submit" class="btn btn btn-warning">Rechazar</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
