@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using Dominio

@if (!String.IsNullOrEmpty(ViewBag.MensajeExito))
{
    <div class="alert alert-success">
        @ViewBag.MensajeExito
    </div>
}

@foreach (Post post in ViewBag.Posts)
{

            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">@post.Titulo</h5>
                    <p class="card-text">@post.Autor.Nombre @post.Autor.Apellido</p>
                    <p class="card-text">@post.Fecha</p>
                    <img src="/Images/Prueba.jpg" alt="Imagen del post" class="img-fluid mb-3" />
                    <p class="card-text">@post.Texto</p>
                    <h6 class="mt-4">Reacciones:</h6>
            <form asp-controller="Home" asp-action="Like" method="post">
                <input type="hidden" name="postId" value="@post.Id" />
                <input type="hidden" name="like" value="true" />

                <button type="submit" class="btn btn-light"><h6>❤ @post.CalcularLikes()</h6></button>
            </form>
            <form asp-controller="Home" asp-action="Like" method="post">
                <input type="hidden" name="postId" value="@post.Id" />
                <input type="hidden" name="like" value="false" />
                <button type="submit" class="btn btn-light"><h6>💔 @post.CalcularDislikes()</h6></button>
            </form>
                    <h6>Valor de Aceptacion: @post.CalcularVA()</h6>

  
                    <h6 class="mt-4">Comentarios:</h6>
                        <ul class="list-group">
                            @foreach (Comentario comentario in post.GetComentarios())
                            {
                                <li class="list-group-item">
                                    <p>@comentario.Autor.Nombre @comentario.Autor.Apellido</p>
                                    <p>Fecha: @comentario.Fecha</p>
                                    <p>@comentario.Texto</p>
                                    <h6 class="mt-4">Reacciones:</h6>
                                    <h6>❤ @comentario.CalcularLikes()</h6>
                                    <h6>💔 @comentario.CalcularDislikes()</h6>
                                    <h6>Valor de Aceptacion: @comentario.CalcularVA()</h6>

                                </li>
                            }
                        </ul>
                </div>
            </div>

}