@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using Dominio
@if (!String.IsNullOrEmpty(ViewBag.Mensaje))
{
    <div class="alert alert-success">
        @ViewBag.Mensaje
    </div>
}

Mi nombre es @ViewBag.Nombre


@foreach (Post post in ViewBag.Posts)
{
    if (post.Censurado == false)
    {
        <div class="card mb-4">
            <div class="card-body">
                @if (ViewBag.IsAdmin == true)
                {
                    <form asp-controller="Home" asp-action="Censurar" method="post">
                        <input type="hidden" name="postId" value="@post.Id" />
                        <button type="submit" class="btn btn-danger">Censurar</button>
                    </form>
                }
                <h5 class="card-title">@post.Titulo</h5>
                <p class="card-text">@post.Autor.Nombre @post.Autor.Apellido</p>
                <p class="card-text">@post.Fecha</p>
                <img src="/Images/Prueba.jpg" alt="Imagen del post" class="img-fluid mb-3" />
                <p class="card-text">@post.Texto</p>
                <h6 class="mt-4">Reacciones:</h6>
                <h6>❤ @post.CalcularLikes()</h6>
                <h6>💔 @post.CalcularDislikes()</h6>
                <h6>Valor de Aceptacion: @post.CalcularVA()</h6>


                <h6 class="mt-4">Comentarios:</h6>
                <ul class="list-group">
                    @foreach (Comentario comentario in post.GetComentarios())
                    {
                        <li class="list-group-item">
                            <p>@comentario.Autor.Nombre @comentario.Autor.Apellido</p>
                            <p>Fecha: @comentario.Fecha</p>
                            <p>@comentario.Texto</p>
                            <h6 class="mt-4">Reacciones:</h6>
                            <h6>❤ @comentario.CalcularLikes()</h6>
                            <h6>💔 @comentario.CalcularDislikes()</h6>
                            <h6>Valor de Aceptacion: @comentario.CalcularVA()</h6>

                        </li>
                    }
                </ul>
            </div>
        </div>
    }
    else if (post.Censurado == true)
    {

        <div class="card mb-4 bg-danger">
            <div class="card-body">

                @if (ViewBag.IsAdmin == true)
                {
                    <form asp-controller="Home" asp-action="Descensurar" method="post">
                        <input type="hidden" name="postId" value="@post.Id" />
                        <button type="submit" class="btn btn-primary">Descensurar</button>
                    </form>
                }
                <h5 class="card-title">@post.Titulo</h5>
                <p class="card-text">@post.Autor.Nombre @post.Autor.Apellido</p>
                <p class="card-text">@post.Fecha</p>
                <img src="/Images/Prueba.jpg" alt="Imagen del post" class="img-fluid mb-3" />
                <p class="card-text">@post.Texto</p>
                <h6 class="mt-4">Reacciones:</h6>
                <h6>❤ @post.CalcularLikes()</h6>
                <h6>💔 @post.CalcularDislikes()</h6>
                <h6>Valor de Aceptacion: @post.CalcularVA()</h6>


                <h6 class="mt-4">Comentarios:</h6>
                <ul class="list-group">
                    @foreach (Comentario comentario in post.GetComentarios())
                    {
                        <li class="list-group-item">
                            <p>@comentario.Autor.Nombre @comentario.Autor.Apellido</p>
                            <p>Fecha: @comentario.Fecha</p>
                            <p>@comentario.Texto</p>
                            <h6 class="mt-4">Reacciones:</h6>
                            <h6>❤ @comentario.CalcularLikes()</h6>
                            <h6>💔 @comentario.CalcularDislikes()</h6>
                            <h6>Valor de Aceptacion: @comentario.CalcularVA()</h6>

                        </li>
                    }
                </ul>
            </div>
        </div>
    }


}